
.btn_small{
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    background-color: #FFB03B;
}

.recipe_header{
    margin-top: 10px;
    margin-left: 50px;
}

.brand-logo{
    margin-left: 30px;
}

h3{
    text-align: center;
    padding: 20px;
}

.recipe_list_margin{
    margin-top: 50px;
}

nav {
    background-color: #FFB03B;
}

.btn{
    background-color: #FFB03B;
}