{% extends 'base.html' %} {% block content %}

<div class="container">
    <h3 class="logo-name recipe_list_margin">Edit Recipes</h3>
    <div class="row">
        <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
                    <label>Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="preparation_time" name="preparation_time" type="text" class="validate">
                        <option value="" disabled selected>Choose Preparation Time</option>
                        {% for p in prep %}
                            {% if p.preparation_time == recipe.preparation_time %}
                            <option value="{{p.preparation_time}}" selected >{{p.preparation_time}}</option>
                            {% else %}
                            <option value="{{p.preparation_time}}">{{p.preparation_time}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Preparation Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="serves" name="serves" type="text" class="validate">
                        <option value="" disabled selected>Choose Serves</option>
                        {% for s in ser %}
                            {% if s.serves == recipe.serves %}
                            <option value="{{s.serves}}" selected >{{s.serves}}</option>
                            {% else %}
                            <option value="{{s.serves}}">{{s.serves}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Serves</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="difficulty" name="difficulty" type="text" class="validate">
                        <option value="" disabled selected>Choose Difficulty</option>
                        {% for d in dif %}
                            {% if d.difficulty == recipe.difficulty %}
                            <option value="{{d.difficulty}}" selected >{{d.difficulty}}</option>
                            {% else %}
                            <option value="{{d.difficulty}}">{{d.difficulty}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Difficulty</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" type="textarea" class="materialize-textarea">{{recipe.ingredients}}</textarea>
                    <label>Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_1" name="step_1" type="textarea" class="materialize-textarea">{{recipe.step_1}}</textarea>
                    <label>Step 1</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_2" name="step_2" type="textarea" class="materialize-textarea">{{recipe.step_2}}</textarea>
                    <label>Step 2</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_3" name="step_3" type="textarea" class="materialize-textarea">{{recipe.step_3}}</textarea>
                    <label>Step 3</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_4" name="step_4" type="textarea" class="materialize-textarea">{{recipe.step_4}}</textarea>
                    <label>Step 4</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_5" name="step_5" type="textarea" class="materialize-textarea">{{recipe.step_5}}</textarea>
                    <label>Step 5</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_6" name="step_6" type="textarea" class="materialize-textarea">{{recipe.step_6}}</textarea>
                    <label>Step 6</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Update Recipe</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
